{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="page-banner-area-logout-login page-contact" id="page-banner" >
<div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
<div class="banner-content content-padding">
                    <div style="margin: 8% 10%;">

<h1 class="text-white">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a class="text-brown" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<div class="container">
  <form  method="post">
                    {% csrf_token %}
                  <div class="form-group first">
                    <label id="username" for="username">Username</label>

                      {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label id="email" for="email">Email</label>
                      {{ form.email}}
                  </div>
                  <div class="form-group first">
                    <label id="password"for="password">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div class="form-group first">
                    <label id="password2"for="password">Confirm Password</label>
                      {{ form.password2 }}
                  </div>
                  
                  <div class="form-group first">
                    <label id="password"for="password">Year of Birth (yyyy-mm-dd)</label>
                    {{ form.YoB }}
                  </div>

                  <div class="form-group" "form-control">
                    <label for="exampleFormControlSelect1">Gender</label>
                    {{ form.gender }}
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Country</label>
                    {{ form.country}}
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect3">State</label>
                    {{ form.state }}
                  </div>

                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Teacher</span>
                        {{ form.is_teacher }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Student</span>
                        {{ form.is_student }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                    <span class="text-error">{{ form.errors }}</span>
                  <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
                </form>
</div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}