<!DOCTYPE html>
<html>

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

{% include "head.html" %}




    <!-- Favicon icon -->
 <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
  <!--   <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">-->
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">


<body data-spy="scroll" data-target=".fixed-top">

 {% include "header.html" %}
	{% block content %}
	{% endblock content %}
    {% include 'footer.html' %}

	{% include 'scripts.html' %}
</body>
</html>