{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-3">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h1 class="banner-title">Learn programming languages easily with us</h1>
                            <p>We can offer courses in programming languages (free). We are currently doing technical work on our website, so we only have text lessons. We will add video lessons soon.
                                <br>stay with us</p><br>

                            <a href="/" class="btn btn-white btn-circled">lets start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}